.bt {
  background-image: url('../assets/img/cards/blue/t.svg');
}

.bm2 {
  background-image: url('../assets/img/cards/blue/m2.svg');
}

.b0 {
  background-image: url('../assets/img/cards/blue/0.svg');
}

.b1 {
  background-image: url('../assets/img/cards/blue/1.svg');
}

.b2 {
  background-image: url('../assets/img/cards/blue/2.svg');
}

.b3 {
  background-image: url('../assets/img/cards/blue/3.svg');
}

.b4 {
  background-image: url('../assets/img/cards/blue/4.svg');
}

.b5 {
  background-image: url('../assets/img/cards/blue/5.svg');
}

.b6 {
  background-image: url('../assets/img/cards/blue/6.svg');
}

.b7 {
  background-image: url('../assets/img/cards/blue/7.svg');
}

.b8 {
  background-image: url('../assets/img/cards/blue/8.svg');
}

.b9 {
  background-image: url('../assets/img/cards/blue/9.svg');
}

.gt {
  background-image: url('../assets/img/cards/green/t.svg');
}

.gm2 {
  background-image: url('../assets/img/cards/green/m2.svg');
}

.g0 {
  background-image: url('../assets/img/cards/green/0.svg');
}

.g1 {
  background-image: url('../assets/img/cards/green/1.svg');
}

.g2 {
  background-image: url('../assets/img/cards/green/2.svg');
}

.g3 {
  background-image: url('../assets/img/cards/green/3.svg');
}

.g4 {
  background-image: url('../assets/img/cards/green/4.svg');
}

.g5 {
  background-image: url('../assets/img/cards/green/5.svg');
}

.g6 {
  background-image: url('../assets/img/cards/green/6.svg');
}

.g7 {
  background-image: url('../assets/img/cards/green/7.svg');
}

.g8 {
  background-image: url('../assets/img/cards/green/8.svg');
}

.g9 {
  background-image: url('../assets/img/cards/green/9.svg');
}

.rt {
  background-image: url('../assets/img/cards/red/t.svg');
}

.rm2 {
  background-image: url('../assets/img/cards/red/m2.svg');
}

.r0 {
  background-image: url('../assets/img/cards/red/0.svg');
}

.r1 {
  background-image: url('../assets/img/cards/red/1.svg');
}

.r2 {
  background-image: url('../assets/img/cards/red/2.svg');
}

.r3 {
  background-image: url('../assets/img/cards/red/3.svg');
}

.r4 {
  background-image: url('../assets/img/cards/red/4.svg');
}

.r5 {
  background-image: url('../assets/img/cards/red/5.svg');
}

.r6 {
  background-image: url('../assets/img/cards/red/6.svg');
}

.r7 {
  background-image: url('../assets/img/cards/red/7.svg');
}

.r8 {
  background-image: url('../assets/img/cards/red/8.svg');
}

.r9 {
  background-image: url('../assets/img/cards/red/9.svg');
}

.yt {
  background-image: url('../assets/img/cards/yellow/t.svg');
}

.ym2 {
  background-image: url('../assets/img/cards/yellow/m2.svg');
}

.y0 {
  background-image: url('../assets/img/cards/yellow/0.svg');
}

.y1 {
  background-image: url('../assets/img/cards/yellow/1.svg');
}

.y2 {
  background-image: url('../assets/img/cards/yellow/2.svg');
}

.y3 {
  background-image: url('../assets/img/cards/yellow/3.svg');
}

.y4 {
  background-image: url('../assets/img/cards/yellow/4.svg');
}

.y5 {
  background-image: url('../assets/img/cards/yellow/5.svg');
}

.y6 {
  background-image: url('../assets/img/cards/yellow/6.svg');
}

.y7 {
  background-image: url('../assets/img/cards/yellow/7.svg');
}

.y8 {
  background-image: url('../assets/img/cards/yellow/8.svg');
}

.y9 {
  background-image: url('../assets/img/cards/yellow/9.svg');
}

.sm4 {
  background-image: url('../assets/img/cards/special/m4.svg');
}

.ss1 {
  background-image: url('../assets/img/cards/special/s1.svg');
}