.gp__background {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  font-family: 'Times New Roman', Times, serif;
  background-image: url("../assets/img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}

.gp__left-side, .gp__right-side, .gp__mid-side {
  width: 25%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.gp__mid-side {
  flex-direction: column;
  width: 50%;
}

.gp__mid-top, .gp__mid-bottom, .gp__mid-center {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.gp__mid-center {
  height: 20%;
  flex-direction: row;
}

.gp__user-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.gp__avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.gp__user-info span {
  color: white;
}

.gp__user-cards {
  /* position: relative;  */
  display: flex;
  flex-direction: column;
}

.gp__card-horizontal {
  /* position: absolute;  */
  height: 70px;
  width: 106px;
}

.gp__card-vertical {
  /* position: absolute;  */
  width: 70px;
  height: 106px;
}

.gp__deck-horizontal {
  flex-direction: row;
}

.gp__user-text-info {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

#gp__lot {
  transform: rotate(45deg);
  position: absolute;
  bottom: 25px;
  left: 50px;
  cursor: url("../assets/img/cursor-player.png"), auto;
  transition: 0.25s ease;
}

#gp__lot:hover {
  transform: rotate(45deg) scale(1.1)
}

#gp__back-btn {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 25px;
  left: 25px;
  cursor: pointer;
}

.gp__right-btns {
  display: flex;
  gap: 12px;
  justify-content: center;
  position: absolute;
  top: 25px;
  right: 25px;
}

#gp__sound-btn, #gp__close-btn {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.gp__principal-player:hover {
  transform: scale(1.1) translateX(-15px);
}

.gp__principal-player {
  cursor: url("../assets/img/cursor-player.png"), auto;
  transition: 0.25s ease;
}

.gp__left-arrow, .gp__right-arrow {
  transform: rotate(-45deg);
  /* Sentido anti-horário usar: transform: rotate(45deg) e trocar src da img no js; */
}

.gp__left-arrow-anti, .gp__right-arrow-anti {
  transform: rotate(45deg);
  /* Sentido anti-horário usar: transform: rotate(45deg) e trocar src da img no js; */
}

.gp__player-turn {
  border: 1px solid #E99F00;
  box-shadow: 0 0 20px #E99F00;
}