.background-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--grey-opacity-1);
}

@keyframes showAnimationn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.modal {
  width: 350px;
  height: 550px;
  overflow-y: auto;
  color: var(--whiteFixed);
  padding: 32px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  background-color: var(--primary-color-1);
  position: fixed;
  margin-top: 112px;
  border-radius: 8px;
  border: solid 20px var(--gold);
  animation: showAnimationn 1s;
  overflow: hidden;
}

.modal input {
  font-family: "Catamaran", sans-serif;

  height: 10%;
  width: 80%;
  border: 5px;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.modal-tutorial {
  width: 90%;
  height: 70%;
  color: var(--whiteFixed);
  padding: 32px 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  line-height: 40px;
  background-color: var(--primary-color-1);
  position: fixed;
  margin-top: 112px;
  border-radius: 8px;
  border: solid 10px var(--gold);
  animation: showAnimationn 1s;
  display: flex;
  text-align: left;
}

.modal-tutorial h1 {
  text-align: center;
}

.logo {
  width: 530px;
  position: absolute;
  top: -100px;
  left: 0px;
}

.title {
  width: 250px;
  align-self: center;
  padding-top: 120px;
}

.avatar {
  width: 100px;
}

.score {
  color: var(--whiteFixed);
  font-size: 25px;
  font-weight: 700;
  width: 70%;
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
  background-color: #ffffff6e;
  border-radius: 30px;
}

.modal button {
  width: 60%;
  height: 8%;
  font-size: 17px;
  font-weight: 700;
  color: var(--whiteFixed);
  width: 100px;
  padding: 5px 10px;
  background-color: var(--red);
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.modal button:hover {
  background-color: var(--whiteFixed);
  color: var(--black);
}

.close-modal {
  display: none;
}

.modal-color {
  position: relative;
  font-size: 20px;
  font-weight: 700;
}

.div__colors {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  box-sizing: border-box;
}

.color {
  width: 150px;
  height: 150px;
}

.blue {
  background-color: var(--blue);
  cursor: pointer;
}

.red {
  background-color: var(--red);
}

.yellow {
  background-color: var(--yellow);
}

.green {
  background-color: var(--green);
}

.blue:hover {
  background-color: #1ba5eb;
  cursor: pointer;
}

.red:hover {
  background-color: #f84946;
}

.yellow:hover {
  background-color: #f8d537;
}

.green:hover {
  background-color: #2ce275;
}

.show--modal {
  display: flex;
}

@media (min-width: 496px) {
  .modal {
    width: 500px;
    margin: 0;
  }

  .logo {
    width: 500px;
    top: -160px;
  }

  .modal-tutorial {
    width: 500px;
    margin: 0;
  }
}